
.icon-home:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-home-outline:before { content: '\e802'; } /* '' */
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-th-large:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
